html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #dfe4ea;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.profile-photo {
    border-radius: 34%;
    width: 90px;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.title {
    font-family: 'Unbounded', sans-serif;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #2b2b2c;
}

.description {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-top: 5px;
}

.info {
    margin-top: 50px;
    width: 55%;
    display: inline-flex;
    justify-content: space-between;
}

.contacts,
.activities {
    text-align: left;
}

.section-title {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #2b2b2c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #2b2b2c;
}

a:hover {
    text-decoration: none;
    color: #828288;
}

/* Minimum resolution */
@media (min-width: 320px) and (max-width: 576px) {

    .profile-photo {
        margin-top: 55px;
    }

    .description {
        font-size: 18px;
    }

    .info {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contacts {
        margin-right: 0px;
    }

    .activities {
        margin-right: 25%;
    }
}
